:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(16 116 143 / 70%);
  --sec-padding: 100px;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start component */
.main-heading {
  background-color: #fff;
  text-align: center;
}
.main-heading h2 {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 60px;
  position: relative;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  background-color: black;
  height: 1px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -38px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  transform: translateX(-50%);
}
.main-heading p {
  color: #777;
  max-width: 550px;
  font-size: 16px;
  margin: 0 auto 100px;
  line-height: 2;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
  position: absolute;
  top: 0;
  left: 0;
}
/*  end component  */
header {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0;
}
/* start heading */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 79px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #fff;
  bottom: -1px;
  left: 20px;
}
header .container img {
  height: 40px;
}
header .container nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
header .container .toggle-menu {
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}
@media (min-width: 767px) {
  header .container .toggle-menu {
    display: none;
  }
}
header .container nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
  }
  header .container .toggle-menu ul li a {
    padding: 15px !important;
  }
}
header .container nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 30px 15px;
  transition: 0.3s;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  position: relative;
  z-index: 2;
}

header .form {
  color: white;
  width: 30px;
  height: 30px;
  border-left: 2px solid white;
  margin-left: 30px;
  position: relative;
}
header .form i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  margin-left: 10px;
}
/* end heading */

/* start landing */
.landing {
  background-image: url("/images/landing.jpg");
  height: 100vh;
  position: relative;
  background-size: cover;
}

.landing .text {
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  width: 50%;
  color: white;
  transform: translateY(-50%);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  line-height: 1.8;
  font-size: 14px;
}
.landing i:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 30px;
  color: white;
  transform: translateY(-50%);
}
.landing i:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 30px;
  color: white;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing i:nth-of-type(1),
  .landing i:nth-of-type(2) {
    display: none;
  }
}
.landing .bullets {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}
.landing .bullets .active {
  background-color: var(--main-color);
}
/* end landing */
/* start services */
.services {
  padding: var(--sec-padding) 0;
}
.services .srv-box {
  display: flex;
}
.services .srv-box i {
  margin-right: 50px;
}
.services .srv-box h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.services .srv-box p {
  color: #777;
  line-height: 2;
}
@media (min-width: 767px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 45px;
  }
}
@media (max-width: 767px) {
  .services .srv-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin-bottom: 20px;
  }
}
/* end services */

/* start design */
.design {
  background-image: url("/images/design-features.jpg");
  position: relative;
  background-size: cover;
  display: flex;
  padding: var(--sec-padding) 0;
  height: 600px;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
  position: absolute;
  top: 0;
  left: 0;
}
.design .image,
.design .text {
  flex: 1;
  z-index: 5;
}
.design .image {
  text-align: center;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  width: 100%;
  padding: 60px;
  background-color: var(--transparent-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
}

/* end design */
/* start portfolio */

.portfolio {
  padding: var(--sec-padding) 0;
}
.portfolio .shuffle {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-bottom: 60px;
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li.active {
  color: #fff;
  background-color: var(--main-color);
}

.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
  background-color: white;
  color: black;
  width: 100%;
  padding: 20px;
}
.portfolio .imgs-container .box:hover .caption p {
  color: var(--main-color);
  padding: 5px 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.2);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container img {
  max-width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.portfolio .imgs-container .caption {
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: 0.3s;
}
.portfolio .more {
  padding: 20px;
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  margin-bottom: var(--sec-padding);
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
}
/* end portfolio */
/* start video */
.video {
  position: relative;
}
.video::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: rgb(0, 0, 0, 40%);
  top: 0;
  width: 100%;
  height: 100%;
}
.video video {
  width: 100%;
}
.video .text {
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 5;
  text-align: center;
  color: white;
}
.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  padding: 40px 0;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  background-color: black;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-bottom: 30px;
}
/* end video */

/* start about */
.about {
  padding: var(--sec-padding) 0;
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  bottom: -200px;
  margin-top: -200px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -150px;
    margin-top: -150px;
    left: -14px;
  }
}
/* end about */
/* start stats */
.stats {
  background-image: url("/images/stats.png");
  background-size: cover;
  position: relative;
  padding: var(--sec-padding) 20px;
  text-align: center;
}
.stats::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 50%);
}
.stats .container {
  background-color: var(--transparent-color);
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  position: relative;
}
.stats .container .box i {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.stats .container .box .number {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
/* end stats */
/*start skills */
.our-skills {
  padding: var(--sec-padding) 0;
}
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
.our-skills .container > div > p {
  color: #777;
  text-align: center;
  padding: 40px 0;
  line-height: 2;
}
.our-skills .testimonials .content {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.our-skills .testimonials .content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .our-skills .testimonials .content {
    flex-direction: column;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto;
  }
}
.our-skills .testimonials .content .text {
  line-height: 1.8;
  padding-bottom: 15px;
  border-bottom: 1px solid #9c9b9b;
}
.our-skills .testimonials .content .text p {
  text-align: right;
  color: #777;
  font-size: 14px;
}
.testimonials ul.bullets {
  display: flex;
  margin: 50px 0;
  justify-content: center;
}
.testimonials .bullets li {
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .prog-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.our-skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .prog-holder .prog span {
  background-color: #19c8fa;
  display: block;
  height: 100%;
  position: relative;
}
.our-skills .prog-holder .prog span::before {
  content: attr(data-progress);
  background-color: black;
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 40px;
  right: -15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-skills .prog-holder .prog span::after {
  content: "";
  border-color: black transparent transparent transparent;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  right: -8px;
  bottom: 24px;
}
/*end skills */
.quote {
  background-image: url("/images/quote.jpg");
  background-size: cover;
  padding: var(--sec-padding) 0;
  position: relative;
  color: #fff;
}
.quote::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 80%);
  position: absolute;
  top: 0;
  left: 0;
}
.quote q,
.quote span {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  text-align: center;
}
.quote q {
  font-size: 2rem;
}
.quote span {
  display: block;
  margin-top: 20px;
}
/* start price */

.price {
  padding: var(--sec-padding) 0;
}

.price .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.price .plans .plan {
  background-color: #f5f4f4;
  text-align: center;
}
.price .plans .plan .head {
  padding-bottom: 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 40px 20px;
}
.price .plans .plan h3 {
  margin: 20px 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
}
.price .plans .plan span {
  font-weight: 600;
  font-size: 60px;
}
.price .plans .plan span::before {
  content: "$";
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-size: 25px;
  font-weight: normal;
}
.price .plans .plan span::after {
  content: "/Mo";
  position: relative;
  right: -15px;
  font-size: 20px;
  font-weight: 900;
}
.price .plans .plan ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--main-color);
}
.price .plans .plan ul li {
  width: fit-content;
  padding: 20px;
}
.price .plans .plan ul li:not(:last-child) {
  border-bottom: 1px solid var(--main-color);
}
.price .plans .plan .foot {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.price .plans .plan .foot a {
  padding: 20px;
  border: 1px solid var(--main-color);
  text-decoration: none;
}
.price .contact-text {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  font-weight: normal;
  font-size: 20px;
}
.price .contact-text + a {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--main-color);
  text-decoration: none;
  background-color: var(--main-color);
  width: fit-content;
  margin: 0 auto;
  color: white;
}

/* end price */
/* start subscribe */
.subscribe {
  background-image: url("/images/subscribe.jpg");
  background-size: cover;
  padding: var(--sec-padding) 0;
  position: relative;
}
.subscribe::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 70%);
  position: absolute;
  top: 0;
  left: 0;
}
.subscribe .container {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  position: relative;
  z-index: 5;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 500px;
  max-width: 100%;
}
.subscribe .container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}
.subscribe .container form [type="email"] {
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--main-color);
  width: calc(100% -120px);
  padding: 20px 20px 20px 60px;
}
.subscribe .container form [type="submit"] {
  background-color: var(--main-color);
  border: none;
  outline: none;
  width: 120px;
  padding: 10px 20px;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe .container p {
  color: white;
  position: relative;
  z-index: 5;
  line-height: 2;
  margin-left: 30px;
}
@media (max-width: 991px) {
  .subscribe .container p {
    margin: 30px 0 0;
  }
}

/* end subscribe */
/* start contact */
.contact {
  padding: var(--sec-padding) 0;
}
.contact .content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
  .contact .content form {
    order: 2;
  }
  .contact .content .info {
    text-align: center;
    order: 1;
  }
}
.contact .content form {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  gap: 20px;
}
.contact .content form input,
.contact .content form textarea {
  padding: 20px;
  border: none;
  border: 1px solid #aaa;
}
.contact .content form textarea {
  min-height: 200px;
}
.contact .content form [type="submit"] {
  display: flex;
  margin-left: auto;
  background-color: var(--main-color);
  color: white;
  border: none;
  text-transform: uppercase;
}
.contact .content .info {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
.contact .content .info h4 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 20px;
}
.contact .content .info span {
  color: #777;
  line-height: 1.5;
  display: block;
}
.contact .content .info span:nth-of-type(2) {
  margin-bottom: 60px;
}
.contact .content .info address {
  color: #777;
  line-height: 1.5;
}
/* end contact */
/* start footer */
.footer {
  padding: calc(var(--sec-padding) / 2);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  gap: 35px;
}
.footer .container img {
  width: 120px;
  display: block;
  margin: 0 auto;
}
.footer .container p:not(.copyright) {
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
.footer .social-icons {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.footer .copyright span {
  color: var(--main-color);
  font-weight: bold;
}
/* end footer */
